<div class="flex items-center justify-center pt-6 text-center">
    <%= link_to '<span class="text-indigo-600 ">joblite</span><span class="text-indigo-300">.com</span>'.html_safe, root_path, class:"link text-2xl tracking-tight font-black text-purple-600", title: "joblite.com" %>
</div>
<div data-controller="jobs">
    <div data-jobs-target="mount"></div>
</div>