<div class="flex items-center mr-6 flex-no-shrink pt-4">
    <%= link_to '<span class="text-indigo-600 text-4xl">joblite</span><span class="text-indigo-300">.com</span>'.html_safe, root_path, class:"link text-2xl tracking-tight font-black text-purple-600", title: "joblite.com" %>
</div>

<div class="items-center block w-full text-center lg:flex-1 lg:flex lg:text-left">
   
</div>